.spinner {
  width: 50px;

  height: 50px;

  border: 5px solid;

  border-radius: 50%;

  border-color: var(--naranja-claro) transparent;
  animation: giro-completo 1.5s linear infinite;
}
.spinnerContainer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes giro-completo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
