.form-login {
  max-width: 320px;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: var(--gris-oscuro);
  padding: 10px;
  margin: 0 auto; /* Centra el elemento horizontalmente */
  margin-left: 10px; /* Añade margen a la izquierda */
  margin-right: 10px; /* Añade margen a la derecha */
  margin-top: 0; /* Elimina el margen superior */
  margin-bottom: 0; /* Elimina el margen inferior */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  color: var(--naranja-claro);
}
