.header-dentro {
  width: 100%;
}
nav {
  display: flex;
  width: 95%;
  justify-content: end;
  padding: 5px;
}
.info-user {
  white-space: pre-line;
  padding: 5px;
  text-align: right;
}
.nav-salir {
  padding: 5px;
}
